package ${packageName}.entity;

import com.baomidou.mybatisplus.annotation.*;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Data;

import java.io.Serializable;
#if ($hasLocalDateTime)
import java.time.LocalDateTime;
#end
#if ($hasBigDecimal)
import java.math.BigDecimal;
#end

@Data
@TableName("${tableName}")
@Schema(description = "${tableComment}")
public class ${className} implements Serializable {

    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
    @Schema(description = "${column.columnComment}")
#if ($column.primaryKey)
    @TableId(type = IdType.AUTO)
#end
    private ${column.attrType} ${column.attrName};

#end
}
