package ${packageName}.service;

import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.service.IService;
import ${packageName}.entity.${className};

public interface ${className}Service extends IService<${className}> {

    IPage<${className}> page${className}(Long current, Long size, ${className} query);

    ${className} get${className}ById(Long id);

    boolean create${className}(${className} ${firstLowerClassName});

    boolean update${className}(${className} ${firstLowerClassName});

    boolean delete${className}(Long id);
}
